html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  background-color: rgb(203, 204, 204);
  font-family: "Source Sans Pro", sans-serif;
  background-image: url(https://github.com/romvsss/currencyConverter/blob/master/background/pexels-pixabay-47344.jpg?raw=true);
  background-size: 2000px;
}