html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  background-image: url(https://github.com/romvsss/currencyConverter/blob/master/background/pexels-pixabay-47344.jpg?raw=true);
}

.footer {
  text-align: center;
  color: rgba(36, 36, 36, 0.7);
  font-size: 21px;
  margin-top: auto;
}